# vim: fdm=marker

# optimised python {{{
__pycache__/
*.py[cod]
# }}}

# Vim {{{
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
# }}}

# c9.io {{{
.c9
# }}}

# JayI {{{
responses.txt
*.csv
# }}}
